html {
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    height: 100%;
    width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: black;
}

h2, p {
  text-align: center;
  color: white;
}

.dashboard {
  display: grid;

  grid-template-areas:
    "header sidebar"
    "content sidebar";
    /* "footer footer"; */

  grid-template-columns: 1fr 210px;
  grid-template-rows: 120px auto;
  /* grid-template-rows: auto 1fr auto; */
  grid-gap: 1px;
  height: 100vh;
  width: 100vw;
}

header {
  grid-area: header;
  background-color: white;
}

sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  overflow-y: scroll;
  grid-area: sidebar;
  background-color: black;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

/* #scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

#scrollmenu option {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#scrollmenu option:hover {
  background-color: #777;
} */
#rankingheader {
  height: 120px;
  padding: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: black;
}

#year-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#year-window {
  padding-top: 7px;
}

.button {
  display: block;
  width: 40%;
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 2px 2px;
  margin: 24px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.4s;
  opacity: 0.9;
}

.button:hover {
  background-color: pink;
  color: black;
  opacity: 1;
}

#rankings {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* width: 1000px; */
  height: 700px;
  /* position: relative; */
  position: absolute;
  top: 120px;
  padding: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: black;
}

.dropdown {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
	padding: 0.5rem;
  color: black;
}

.dropdown select{
  position: relative;
	/* width: fill; */
  width: 90%;
  height: 50px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 14px;
  /* padding: 0.5rem; */
}

main {
  grid-area: content;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

#bigchart {
  display: inline-block;
  /* width: 1000px; */
  height: 380px;
  padding: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: white;
}

.line {
  stroke-width: 3;
  fill: none;
}

/* footer {
  grid-area: footer;
  background-color: beige;
} */
